

html, body, #home {
	height: 100%;
	overflow: hidden;
}

body {
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

/* Barra de navegação
----------------------------*/

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}
